.title,
.content h1, h1,
.content h2, h2,
.content h3, h3,
.content h4, h4,
.content h5, h5,
.content h6, h6 {
	font-family: 'Asap Condensed', sans-serif !important;
	font-weight: 700 !important;
	text-transform: capitalize;
	color: black;
}

body {
	font-family: 'Asap', sans-serif !important;
	font-weight: 400 !important;
}

html {
	word-wrap: break-word;
}

a {
	color: #00d1b2;
}

b, strong {
	font-weight: 600;
}

.sidebar-list {
	margin-bottom: .5rem !important;
}

.sidebar-list a {
	text-decoration: underline !important;
	font-weight: 400;
	color: #444;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom: 1.5rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scrollToTop{
    position:fixed;
    bottom:25px;
    right:25px;
    display:none;
}

@media screen and (min-width: 1088px) {
	.container.is-fluid {
	    margin-left: 0px;
	    margin-right: 0px;
	    padding: 0 1rem;
	}
}

@media screen and (min-width: 768px) {
	.desc {
		max-height: 215px;
		overflow: hidden;
	}

}
