{% extends 'base.html' %}
{% load humanize %}
{% block 'title' %}{{brand.brand_name|title}} Mobile Prices In {{sidebar_location.location_name|title}} - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest {{brand.brand_name|title}} Mobile Prices In {{sidebar_location.location_name|title}}, updated on daily basis by taking information from online ecommerce stores and retailers in the country{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{%block 'content'%}
	<h1>{{brand.brand_name|title}} Mobile Prices In {{sidebar_location.location_name|title}}</h1><hr>
	<div class="columns is-multiline">
		{% for p in phones %}
			<div class="column is-4-desktop is-6-tablet" style="position: relative;" itemscope itemtype="http://schema.org/Product">
				{% if p.status == 'Coming Soon' %}
					<p class="tag is-info is-medium is-radiusless" style="position: absolute; top: 10px; left: 10px;">{{p.status|title}}</p>
				{% endif %}
				<a href="{% url 'phone' slug=p.phone_model_slug location='pakistan' %}">
					<div class="box is-radiusless is-marginless has-text-centered" style="padding-top: 2.5rem;">				
						<img itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}">						
					</div>
					<div class="box is-radiusless has-background-white-ter has-text-centered">
						<h2 itemprop="name" class="is-marginless is-size-5 has-text-black">{{p.phone_model|title}}</h2>
						<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="is-size-4 has-text-weight-bold has-text-info">
							<span>Rs {{p.price|intcomma}}</span>
							<meta itemprop="price" content="{{p.price}}" />
							<meta itemprop="priceCurrency" content="PKR" />
						</p>
					</div>
				</a>
				<meta itemprop="brand" content="{{p.brand_name|title}}" />
			</div>
		{% endfor %}
	</div>
{%endblock%}

{% block 'sidebar' %}
    <h2>Mobile Phone Brands</h2>  
    <ul class="is-marginless" style="list-style: none;">
        {%for b in sidebar_brands%}
            <li class="notification is-light is-radiusless sidebar-list"><a href="{% url 'brand' slug=b.brand_slug location=sidebar_location.location_slug  %}">{{b.brand_name|title}} Mobile Prices In {{sidebar_location.location_name|title}}</a></li>
        {%endfor%}
    </ul>
    <hr>
    <div class="addthis_inline_share_toolbox"></div>
{% endblock %}