{% extends 'base.html' %}
{% load humanize %}
{% block 'title' %}{{brand.brand_name|title}} Mobiles Prices{% if sidebar_location %} in {{sidebar_location.location_name|title}}{% endif %}, Specifaction and Features - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest {{brand.brand_name|title}} Mobiles Prices in {{sidebar_location.location_name|title}}. Latest {{brand.brand_name|title}} mobiles, {{brand.brand_name|title}} mobiles specification and features. Updated on daily basis by taking information from online ecommerce stores and retailers{% if sidebar_location %} in {{sidebar_location.location_name|title}}{% endif %}.{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{%block 'content'%}
	<div class="content">
		<h1>{{brand.brand_name|title}} Mobiles Prices{% if sidebar_location %} in {{sidebar_location.location_name|title}}{% endif %}</h1>
		<p>Checkout the latest <strong>{{brand.brand_name|title}} Mobile Prices{% if sidebar_location %} in {{sidebar_location.location_name|title}}{% endif %}</strong>. Latest <strong>{{brand.brand_name|title}} mobiles, {{brand.brand_name|title}} mobiles specification and features.</strong> Updated on daily basis by taking information from online ecommerce stores and retailers{% if sidebar_location %} in {{sidebar_location.location_name|title}}{% endif %}.</strong></p>
	</div>

	
	<div class="columns is-multiline">
		{% for p in phones %}
			<div class="column is-6" itemscope itemtype="http://schema.org/Product">
				{% if sidebar_location %}
				{% with location=sidebar_location.location_name %}
				<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug location=location %}">
				{% endwith %}
				{% else %}
				<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug %}">
				{% endif %}
					<div class="columns">
						<div class="column is-narrow has-text-centered">
							<img itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="212">	
						</div>
						<div class="column desc">
							<h2 itemprop="name" class="is-marginless is-size-5 has-text-black">{{p.phone_model|title}}</h2>
							<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="is-size-3 is-marginless has-text-weight-bold has-text-primary">
								<span>Rs {{p.price|intcomma}}</span>
								<meta itemprop="price" content="{{p.price}}" />
								<meta itemprop="priceCurrency" content="PKR" />
							</p>
							<div class="has-text-black is-size-7" itemprop="description">{{p.description|truncatewords:150|safe}}</div>
						</div>
					</div>
				</a>
				<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
					<p itemprop="name">{{p.brand_name|title}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if phones.has_other_pages %}
		<nav class="box is-radiusless pagination is-centered is-medium">
			{% if phones.has_previous %}
				<a rel="prev" class="pagination-previous" href="?page={{ phones.previous_page_number }}">Previous</a>
			{% else %}
				<a class="pagination-previous" disabled>Previous</a>
			{% endif %}
			{% if phones.has_next %}
				<a rel="next" class="pagination-next" href="?page={{ phones.next_page_number }}">Next</a>
			{% else %}
				<a class="pagination-next" disabled>Next</a>
			{% endif %}

			<ul class="pagination-list" style="list-style: none; margin: 0;">
				{% for i in phones.paginator.page_range %}
					{% if phones.number == i %}
						<li><a class="pagination-link is-current">{{ i }}</a></li>
					{% else %}
						<li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{%endblock%}

{% block 'sidebar' %}
	{{ block.super }}
    <h2>Mobile Phone Brands</h2>  
    <ul class="is-marginless" style="list-style: none;">
        {%for b in sidebar_brands%}
        	{% if sidebar_location %}
				{% with location=sidebar_location.location_name %}
					<li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug location=location  %}">{{b.brand_name|title}} Mobile Prices{% if sidebar_location %} in {{sidebar_location.location_name|title}}{% endif %}</a></li>
				{% endwith %}
			{% else %}
				<li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug  %}">{{b.brand_name|title}} Mobile Prices</a></li>
			{% endif %}            
        {%endfor%}
    </ul>
    <hr>
    <div class="addthis_inline_share_toolbox"></div>
{% endblock %}