{% extends 'base.html' %}
{% load humanize %}
{% load multiply %}

{% block 'title' %}{{brand.brand_name|title}} Mobiles Prices{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}, Specifaction and Features - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest {{brand.brand_name|title}} Mobiles Prices{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}. Latest {{brand.brand_name|title}} mobiles, {{brand.brand_name|title}} mobiles specification and features. Updated on daily basis by taking information from online ecommerce stores and retailers{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}.{% endblock %}

{% block 'pageheading' %}
	<div class="section has-background-light">
		<h1>{{brand.brand_name|title}} Mobiles Prices{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}</h1>
		<p>Checkout the latest <strong>{{brand.brand_name|title}} Mobile Prices{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}</strong>. Latest <strong>{{brand.brand_name|title}} mobiles, {{brand.brand_name|title}} mobiles specification and features.</strong> Updated on daily basis by taking information from online ecommerce stores and retailers{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}.</strong></p>
	</div>
{% endblock %}

{%block 'content'%}
	
	<div class="columns is-multiline">
		{% for p in phones %}
			<div class="column is-6" itemscope itemtype="http://schema.org/Product">				
				{% if request.session.location %}
					<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug location=request.session.location %}">
				{% else %}
					<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug %}">
				{% endif %}
					<div class="columns is-mobile">
						<div class="column is-narrow has-text-centered">
							<img class="p-img" itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="212">	
						</div>
						<div class="column desc">
							<h2 itemprop="name" class="is-marginless is-size-4 is-size-5-mobile has-text-black">{{p.phone_model|title}}</h2>
							<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="has-background-light is-size-5 is-size-7-touch has-text-black" style="padding: 0.25rem; margin: 0.5rem 0;">
								<span>USD {{p.price|intcomma}}</span>
								{% if request.session.location and request.session.currency != 'USD' %}
									<span> - {{ request.session.currency }} {% multiply p.price request.session.exchange %}</span>	
								{% endif %}
								<meta itemprop="price" content="{{p.price}}" />
								<meta itemprop="priceCurrency" content="USD" />
							</p>
							<div class="has-text-black is-size-7" itemprop="description">{{p.description|truncatewords:150|safe}}</div>
						</div>
					</div>
				</a>
				<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
					<p itemprop="name">{{p.brand_name|title}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if phones.has_other_pages %}
		<nav class="box is-radiusless pagination is-centered">
			{% if phones.has_previous %}
				<a rel="prev" class="pagination-previous" href="?page={{ phones.previous_page_number }}">Previous</a>
			{% else %}
				<a class="pagination-previous" disabled>Previous</a>
			{% endif %}
			{% if phones.has_next %}
				<a rel="next" class="pagination-next" href="?page={{ phones.next_page_number }}">Next</a>
			{% else %}
				<a class="pagination-next" disabled>Next</a>
			{% endif %}

			<ul class="pagination-list" style="list-style: none; margin: 0;">
				{% for i in phones.paginator.page_range %}
					{% if phones.number == i %}
						<li><a class="pagination-link is-current">{{ i }}</a></li>
					{% else %}
						<li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{%endblock%}

{% block 'sidebar' %}
	{{ block.super }}
    <h3 class="is-marginless">Mobile Phone Brands</h3><hr>
    <ul class="is-marginless" style="list-style: none;">
        {%for b in all_brands%}
        	{% if request.session.location %}
            	<li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug location=request.session.location %}">{{b.brand_name|title}} Mobile Prices in {{request.session.loc_name|title}}</a></li>
            {% else %}
            	<li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug %}">{{b.brand_name|title}} Mobile Prices</a></li>
        	{% endif %}
        {%endfor%}
    </ul>
    <hr>
    <div class="addthis_inline_share_toolbox"></div>
{% endblock %}