{% extends 'base.html' %}
{% load humanize %}
{% block 'title' %}Latest And Updated Mobile Prices In Pakistan, Mobile Phones Specification And Features - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest mobile prices in Pakistan. We are a trusted source to know mobile phones prices, specification and features. We provide you updated information on daily basis by taking information from online ecommerce stores and retailers in Pakistan.{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{% block 'content' %}
	<div class="notification is-radiusless">
		<h1>Mobile Prices In Pakistan</h1>
		<p>Checkout the latest mobile prices in Pakistan, updated on daily basis by taking information from online ecommerce stores and retailers in the country</p>
	</div>
	
	<div class="columns is-multiline">
		{% for p in phones %}
			<div class="column is-6" itemscope itemtype="http://schema.org/Product">
				<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug location='pakistan' %}">
					<div class="columns">
						<div class="column is-narrow has-text-centered">
							<img itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}">	
						</div>
						<div class="column">
							<h2 itemprop="name" class="is-marginless is-size-5 has-text-black">{{p.phone_model|title}}</h2>
							<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="is-size-4 has-text-weight-bold has-text-info">
								<span>Rs {{p.price|intcomma}}</span>
								<meta itemprop="price" content="{{p.price}}" />
								<meta itemprop="priceCurrency" content="PKR" />
							</p>
							<div class="has-text-black is-size-7" itemprop="description">{{p.description|truncatewords:60|safe}}</div>
						</div>
					</div>
				</a>
				<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Organization">
					<p itemprop="name">{{p.brand_name|title}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block 'sidebar' %}
	<h3>Mobile Phone Brands</h2>  
    <ul class="is-marginless" style="list-style: none;">
        {%for b in sidebar_brands%}
            <li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug location='pakistan'  %}">{{b.brand_name|title}} Mobile Prices In Pakistan</a></li>
        {%endfor%}
    </ul> 
    <hr>
    <div class="addthis_inline_share_toolbox"></div>
{% endblock %}