{% extends 'base.html' %}
{% load humanize %}
{% block 'title' %}Latest and Updated Mobile Prices in Pakistan, Mobile Phones Specifications and Features - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest mobile prices in Pakistan. We are a trusted source to know mobile phones prices, specification and features. We provide you updated information on daily basis by taking information from online ecommerce stores and retailers in Pakistan.{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{% block 'content' %}
	<div class="content">
		<h1>Mobile Prices In Pakistan</h1>
		<p>Checkout the latest mobile prices in Pakistan, updated on daily basis by taking information from online ecommerce stores and retailers in the country</p>		
	</div>
	<hr>
	<div class="notifications is-radiusless">
		<h2 class="is-size-4">Search by price</h2>
		<form class="field" action="{% url 'index' %}" method="POST">
			{% csrf_token %}
			<div class="field has-addons">
				<div class="control">
					<div class="select">
						<select name="min-price">
							<option class="is-capitalized" value="0">Rs 0</option>
							<option class="is-capitalized" value="5000">Rs 5000</option>
							<option class="is-capitalized" value="10000" selected>Rs 10000</option>
							<option class="is-capitalized" value="15000">Rs 15000</option>
							<option class="is-capitalized" value="20000">Rs 20000</option>
							<option class="is-capitalized" value="30000">Rs 30000</option>
							<option class="is-capitalized" value="40000">Rs 40000</option>
							<option class="is-capitalized" value="50000">Rs 50000</option>
							<option class="is-capitalized" value="60000">Rs 60000</option>
							<option class="is-capitalized" value="70000">Rs 70000</option>
							<option class="is-capitalized" value="80000">Rs 80000</option>
							<option class="is-capitalized" value="90000">Rs 90000</option>
							<option class="is-capitalized" value="100000">Rs 100000</option>
							<option class="is-capitalized" value="125000">Rs 125000</option>
						</select>
					</div>
				</div>
				<div class="control">
					<div class="select">
						<select name="max-price">
							<option class="is-capitalized" value="5000">Rs 5000</option>
							<option class="is-capitalized" value="10000">Rs 10000</option>
							<option class="is-capitalized" value="15000">Rs 15000</option>
							<option class="is-capitalized" value="20000">Rs 20000</option>
							<option class="is-capitalized" value="30000" selected>Rs 30000</option>
							<option class="is-capitalized" value="40000">Rs 40000</option>
							<option class="is-capitalized" value="50000">Rs 50000</option>
							<option class="is-capitalized" value="60000">Rs 60000</option>
							<option class="is-capitalized" value="70000">Rs 70000</option>
							<option class="is-capitalized" value="80000">Rs 80000</option>
							<option class="is-capitalized" value="90000">Rs 90000</option>
							<option class="is-capitalized" value="100000">Rs 100000</option>
							<option class="is-capitalized" value="125000">Rs 125000</option>
							<option class="is-capitalized" value="150000">Rs 150000</option>
						</select>
					</div>
				</div>
				<div class="control">
					<input type="submit" class="button is-grey" value="Search">
				</div>
			</div>
		</form>	
		{% if message %}
			<p class="heading is-size-6" style="margin: .5rem 0;" ><strong>{{ message }}</strong></p>
			{% if not phones %}
				<p class="has-text-danger heading is-marginless">There is nothing to match your search results.</p>
			{% endif %}
		{% endif %}
	</div>
	<hr>

	<div class="columns is-multiline">
		{% for p in phones %}
			<div class="column is-6" itemscope itemtype="http://schema.org/Product">
				<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug location='pakistan' %}">
					<div class="columns">
						<div class="column is-narrow has-text-centered">
							<img itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="350">	
						</div>
						<div class="column">
							<h2 itemprop="name" class="is-marginless is-size-5 has-text-black">{{p.phone_model|title}}</h2>
							<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="is-size-4 has-text-weight-bold has-text-info">
								<span>Rs {{p.price|intcomma}}</span>
								<meta itemprop="price" content="{{p.price}}" />
								<meta itemprop="priceCurrency" content="PKR" />
							</p>
							<div class="has-text-black is-size-7" itemprop="description">{{p.description|truncatewords:60|safe}}</div>
						</div>
					</div>
				</a>
				<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Organization">
					<p itemprop="name">{{p.brand_name|title}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block 'sidebar' %}
	<h3>Mobile Phone Brands</h2>  
    <ul class="is-marginless" style="list-style: none;">
        {%for b in sidebar_brands%}
            <li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug location='pakistan'  %}">{{b.brand_name|title}} Mobile Prices In Pakistan</a></li>
        {%endfor%}
    </ul> 
    <hr>
    <div class="addthis_inline_share_toolbox"></div>
{% endblock %}