{% extends 'base.html' %}
{% load humanize %}
{% load multiply %}

{% block 'title' %}{{ phone.phone_model|title }} Price{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}, {{ phone.phone_model|title }} Specification and Features - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest {{ phone.phone_model|title }} Price{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}. Get {{ phone.phone_model|title }} specification and features. Updated on daily basis by taking information from online e-commerce stores and retailers{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}.{% endblock %}

{% block 'pageheading' %}
<div class="section has-background-light">
	<h1>{{ phone.phone_model|title }} Price{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}</h1>
	<p>Checkout the latest <strong>{{ phone.phone_model|title }} Price{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}.</strong> Get <strong>{{ phone.phone_model|title }} specification and features.</strong> Updated on daily basis by taking information from online e-commerce stores and retailers{% if request.session.location %} in {{request.session.loc_name|title}}{% endif %}.</strong></p>		
</div>
{% endblock %}

{% block 'content' %}
	
	<div class="columns is-desktop" itemscope itemtype="http://schema.org/Product">
		<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
			<p itemprop="name">{{phone.brand_name|title}}</p>
		</div>
		<div class="column is-narrow">
			<div class="box is-radiusless is-marginless has-text-centered">				
				<img src="{{phone.phone_image.url}}"" alt="{{phone.phone_model|title}}" itemprop="image" height="212">						
			</div>
			<div class="box is-radiusless has-background-white-ter has-text-centered">
				<h2 class="is-marginless is-size-4 has-text-black" itemprop="name">{{phone.phone_model|title}}</h2>
				<p class="is-size-4 has-text-weight-bold has-text-primary is-marginless">USD {{phone.price|intcomma}}</p>
				<p class="is-size-4 has-text-weight-bold has-text-primary">
					{% if request.session.location and request.session.currency != 'USD' %}
						<span>{{ request.session.currency }} {% multiply phone.price request.session.exchange %}</span>
					{% endif %}
				</p>
			</div>		
		</div>
		<div class="column">			
			<table class="table is-bordered is-fullwidth is-uppercase is-size-5">
				<tbody class="is-size-5-desktop has-background-white-ter">
					<tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						<th class="has-background-info has-text-white">Price</th>
						<td class="has-background-primary has-text-white">USD <span>{{phone.price|intcomma}}</span>
							{% if request.session.location and request.session.currency != 'USD' %}
									<span> - {{ request.session.currency }} {% multiply phone.price request.session.exchange %}</span>
							{% endif %}
							<meta itemprop="priceCurrency" content="USD" /><meta itemprop="price" content="{{phone.price}}" />
						</td>
					</tr>
				</tbody>				
			</table>
			{% if phone.phone_video %}
				<div class="video-container">
					<iframe width="853" height="480" src="{{phone.phone_video}}" frameborder="0" allowfullscreen></iframe>
				</div>
			{% endif %}
			<div class="addthis_inline_share_toolbox"></div>
			<h2>{{ phone.phone_model}} Specification</h2>
			<table class="table is-bordered is-narrow is-fullwidth is-uppercase">
				<tbody>
					<tr>
						<th class="is-uppercase">Os</th>
						<td>{{phone.os}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Dimensions</th>
						<td>{{phone.dimensions}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Weight</th>
						<td>{{phone.weight}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Sim</th>
						<td>{{phone.sim}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Colors</th>
						<td>{{phone.colors}}</td>
					</tr>
				</tbody>				
			</table>
			<h2>{{ phone.phone_model}} Processor</h2>
			<table class="table is-bordered is-narrow is-fullwidth is-uppercase">
				<tbody>
					<tr>
						<th class="is-uppercase">Cpu</th>
						<td>{{phone.cpu}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Chipset</th>
						<td>{{phone.chipset}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Gpu</th>
						<td>{{phone.gpu}}</td>
					</tr>
				</tbody>				
			</table>
			<h2>{{ phone.phone_model}} Display</h2>
			<table class="table is-bordered is-narrow is-fullwidth is-uppercase">
				<tbody>
					<tr>
						<th class="is-uppercase">Technology</th>
						<td>{{phone.technology}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Size</th>
						<td>{{phone.size}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Resolution</th>
						<td>{{phone.resolution}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Protection</th>
						<td>{{phone.protection}}</td>
					</tr>
				</tbody>				
			</table>
			<h2>{{ phone.phone_model}} Memory</h2>
			<table class="table is-bordered is-narrow is-fullwidth is-uppercase">
				<tbody>
					<tr>
						<th class="is-uppercase">Built IN</th>
						<td>{{phone.builtin}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Card</th>
						<td>{{phone.card}}</td>
					</tr>
				</tbody>				
			</table>
			<h2>{{ phone.phone_model}} Camera</h2>
			<table class="table is-bordered is-narrow is-fullwidth is-uppercase">
				<tbody>
					<tr>
						<th class="is-uppercase">Main</th>
						<td>{{phone.main_camera}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Features</th>
						<td>{{phone.features}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Front</th>
						<td>{{phone.front_camera}}</td>
					</tr>
				</tbody>				
			</table>
			<h2>{{ phone.phone_model}} Features</h2>
			<table class="table is-bordered is-narrow is-fullwidth is-uppercase">
				<tbody>
					<tr>
						<th class="is-uppercase">Sensors</th>
						<td>{{phone.sensors}}</td>
					</tr>
					<tr>
						<th class="is-uppercase">Battery</th>
						<td>{{phone.battery}}</td>
					</tr>
				</tbody>				
			</table>
			<h2>{{ phone.phone_model}} Description</h2>
			<div  itemprop="description">{{ phone.description|safe }}</div>
			<hr>
			<div class="addthis_inline_share_toolbox"></div>
			<hr>
			{% if all_phones %}
				<h2>Other Mobiles From {{brand}}</h2>
				{% for p in all_phones|slice:':10' %}
					<div itemscope itemtype="http://schema.org/Product">
						{% if request.session.location %}
							<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug location=request.session.location %}">
						{% else %}
							<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug %}">
						{% endif %}
							<div class="columns">
								<div class="column is-narrow has-text-centered">
									<img itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="212">	
								</div>
								<div class="column desc">
									<h2 itemprop="name" class="is-marginless is-size-4 has-text-black">{{p.phone_model|title}}</h2>
									<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="is-size-5 is-marginless has-text-weight-bold has-text-primary">
										<span>USD {{p.price|intcomma}}</span>
										{% if request.session.location and request.session.currency != 'USD' %}
												<span> - {{ request.session.currency }} {% multiply phone.price request.session.exchange %}</span>
										{% endif %}
										<meta itemprop="price" content="{{p.price}}" />
										<meta itemprop="priceCurrency" content="USD" />
									</p>
									<div class="has-text-black is-size-7" itemprop="description">{{p.description|truncatewords:300|safe}}</div>
								</div>
							</div>
						</a>
						<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
							<p itemprop="name">{{p.brand_name|title}}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}			
		</div>
	</div>
	
{% endblock %}

{% block 'sidebar' %}
	{{ block.super }}
    <h3 class="is-marginless">Mobile Phone Brands</h3><hr>
    <ul class="is-marginless" style="list-style: none;">
        {%for b in all_brands%}
        	{% if request.session.location %}
            	<li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug location=request.session.location %}">{{b.brand_name|title}} Mobile Prices in {{request.session.loc_name|title}}</a></li>
            {% else %}
            	<li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug %}">{{b.brand_name|title}} Mobile Prices</a></li>
        	{% endif %}
        {%endfor%}
    </ul>
    <h2>{{brand|title}} Mobiles{% if request.session.location %} in {{request.session.location|title}}{% endif %}</h2>
    <ul class="is-marginless" style="list-style: none;">
        {%for p in all_phones%}
        	{% if request.session.location %}
				<li class="sidebar-list"><a href="{% url 'phone' slug=p.phone_model_slug location=request.session.location  %}">{{p.phone_model|title}} Price in {{request.session.loc_name|title}}</a></li>	
			{% else %}
				<li class="sidebar-list"><a href="{% url 'phone' slug=p.phone_model_slug  %}">{{p.phone_model|title}} Price</a></li>
			{% endif %}
            
        {%endfor%}
    </ul>
    <hr>
    <div class="notifications is-primary is-radiusless">
		<h3>Disclaimer</h3>
		<p class="is-size-7">We are not responsible for any errors or omissions, or for the results obtained from the use of this information. All information on this site is provided “as is,” with no guarantee of completeness, accuracy, timeliness or the results obtained from the use of this information.</p>
	</div>
	

{% endblock %}