{% extends 'base.html' %}
{% load humanize %}
{% block 'title' %}Latest and Updated Mobile Phone Prices, Specifications and Features - GET MOBILE PRICES{% endblock %}
{% block 'description' %}Checkout the latest mobiles phones, specifications and features. We are a trusted source to get all mobile phone prices, specification and features. We provide you updated information on daily basis by taking information from online ecommerce stores and retailers in country.{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{% block 'content' %}
	<div class="content">
		<h1>Search by price</h1>	
	</div>
	<div class="notification is-radiusless" style="padding: 1rem;">
		<form class="field" action="{% url 'search' %}" method="GET">
			<div class="field columns">
				<div class="control column">
					<div class="select is-fullwidth is-large">
						<select name="minprice">
							<option class="is-capitalized" value="0">Rs 0</option>
							<option class="is-capitalized" value="5000">Rs 5000</option>
							<option class="is-capitalized" value="10000" selected>Rs 10000</option>
							<option class="is-capitalized" value="15000">Rs 15000</option>
							<option class="is-capitalized" value="20000">Rs 20000</option>
							<option class="is-capitalized" value="30000">Rs 30000</option>
							<option class="is-capitalized" value="40000">Rs 40000</option>
							<option class="is-capitalized" value="50000">Rs 50000</option>
							<option class="is-capitalized" value="60000">Rs 60000</option>
							<option class="is-capitalized" value="70000">Rs 70000</option>
							<option class="is-capitalized" value="80000">Rs 80000</option>
							<option class="is-capitalized" value="90000">Rs 90000</option>
							<option class="is-capitalized" value="100000">Rs 100000</option>
							<option class="is-capitalized" value="125000">Rs 125000</option>
						</select>
					</div>
				</div>
				<div class="control column">
					<div class="select is-fullwidth is-large">
						<select name="maxprice">
							<option class="is-capitalized" value="5000">Rs 5000</option>
							<option class="is-capitalized" value="10000">Rs 10000</option>
							<option class="is-capitalized" value="15000">Rs 15000</option>
							<option class="is-capitalized" value="20000">Rs 20000</option>
							<option class="is-capitalized" value="30000" selected>Rs 30000</option>
							<option class="is-capitalized" value="40000">Rs 40000</option>
							<option class="is-capitalized" value="50000">Rs 50000</option>
							<option class="is-capitalized" value="60000">Rs 60000</option>
							<option class="is-capitalized" value="70000">Rs 70000</option>
							<option class="is-capitalized" value="80000">Rs 80000</option>
							<option class="is-capitalized" value="90000">Rs 90000</option>
							<option class="is-capitalized" value="100000">Rs 100000</option>
							<option class="is-capitalized" value="125000">Rs 125000</option>
							<option class="is-capitalized" value="150000">Rs 150000</option>
						</select>
					</div>
				</div>
				<div class="control column is-narrow">
					<input type="submit" class="button is-dark is-large" value="Search">
				</div>
			</div>
		</form>	
		{% if message %}
			<p class="heading is-size-6" style="margin: .5rem 0;" ><strong>{{ message }}</strong></p>
			{% if not phones %}
				<p class="has-text-danger heading is-marginless">There is nothing to match your search results.</p>
			{% endif %}
		{% endif %}
	</div>

	<div class="columns is-multiline">
		{% for p in phones %}
			<div class="column is-6" itemscope itemtype="http://schema.org/Product">
				<a class="box is-radiusless" href="{% url 'phone' slug=p.phone_model_slug %}">
					<div class="columns">
						<div class="column is-narrow has-text-centered">
							<img itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="212">	
						</div>
						<div class="column desc">
							<h2 itemprop="name" class="is-marginless is-size-5 has-text-black">{{p.phone_model|title}}</h2>
							<p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="is-size-3 is-marginless has-text-weight-bold has-text-primary">
								<span>Rs {{p.price|intcomma}}</span>
								<meta itemprop="price" content="{{p.price}}" />
								<meta itemprop="priceCurrency" content="PKR" />
							</p>
							<div class="has-text-black is-size-7" itemprop="description">{{p.description|truncatewords:150|safe}}</div>
						</div>
					</div>
				</a>
				<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
					<p itemprop="name">{{p.brand_name|title}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if phones.has_other_pages %}
		<nav class="box is-radiusless pagination is-centered is-medium">
			{% if phones.has_previous %}
				<a rel="prev" class="pagination-previous" href="?page={{ phones.previous_page_number }}{% if request.GET %}&minprice={{ request.GET.minprice }}&maxprice={{ request.GET.maxprice }}{% endif %}">Previous</a>
			{% else %}
				<a class="pagination-previous" disabled>Previous</a>
			{% endif %}
			{% if phones.has_next %}
				<a rel="next" class="pagination-next" href="?page={{ phones.next_page_number }}{% if request.GET %}&minprice={{ request.GET.minprice }}&maxprice={{ request.GET.maxprice }}{% endif %}">Next</a>
			{% else %}
				<a class="pagination-next" disabled>Next</a>
			{% endif %}

			<ul class="pagination-list" style="list-style: none; margin: 0;">
				{% for i in phones.paginator.page_range %}
					{% if phones.number == i %}
						<li><a class="pagination-link is-current">{{ i }}</a></li>
					{% else %}
						<li><a class="pagination-link" href="?page={{ i }}{% if request.GET %}&minprice={{ request.GET.minprice }}&maxprice={{ request.GET.maxprice }}{% endif %}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{% endblock %}

{% block 'sidebar' %}
	{{ block.super }}
	<h3>Mobile Phone Brands</h2>  
    <ul class="is-marginless" style="list-style: none;">
        {%for b in sidebar_brands%}
            <li class="sidebar-list"><a href="{% url 'brand' slug=b.brand_slug  %}">{{b.brand_name|title}} Mobile Prices</a></li>
        {%endfor%}
    </ul> 
    <hr>
    <div class="addthis_inline_share_toolbox"></div>
{% endblock %}