
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="j30z9l4lDSzZOD3l89GI6hw90R2jK2dP3GS9uD2Alc0" />
    <meta name="msvalidate.01" content="74C49CE35D80A7DFB35A0C1F342311BD" />
    {% block 'canonical' %}{% endblock %}
    <title>{% block 'title' %}Mobile Phone Prices{% endblock %}</title>
    <meta name="news_keywords" content="{% block 'news' %}{% endblock %}">
    <meta name="description" content="{% block 'description' %}{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,600|Asap+Condensed:700" rel="stylesheet">
    <link rel="icon" href="{% static 'images/frame.png' %}" type="image/png">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47699964-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47699964-5');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7688661235566872",
            enable_page_level_ads: true
        });
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.getmobileprice.com",
            "logo": "http://www.getmobileprice.com/static/images/frame.png"
        }
    </script>
</head>

<body class="content has-background-white is-marginless">


    {% include 'navbar.html' %}

    <header>{% block 'above_content' %}{% endblock %}</header>

    <div id="content" class="container is-fluid" style="padding: 0;">
        <div class="columns is-desktop is-paddingless is-marginless">
            <div class="column is-9-desktop is-paddingless is-marginless">
                <main class="section">
                    {% block 'content' %}{% endblock %}
                </main>
            </div>
            <div class="column is-3-desktop is-paddingless is-marginless has-background-light">                 
                <aside class="section">
                    <div>
                        <h2 class="is-size-4">Search by price</h2>
                        <form action="{% url 'search' %}" method="GET">
                            <div class="field">
                                <div class="control">
                                    <div class="select is-medium is-fullwidth">
                                        <select name="minprice">
                                            <option class="is-capitalized" value="0">Rs 0</option>
                                            <option class="is-capitalized" value="5000">Rs 5000</option>
                                            <option class="is-capitalized" value="10000" selected>Rs 10000</option>
                                            <option class="is-capitalized" value="15000">Rs 15000</option>
                                            <option class="is-capitalized" value="20000">Rs 20000</option>
                                            <option class="is-capitalized" value="30000">Rs 30000</option>
                                            <option class="is-capitalized" value="40000">Rs 40000</option>
                                            <option class="is-capitalized" value="50000">Rs 50000</option>
                                            <option class="is-capitalized" value="60000">Rs 60000</option>
                                            <option class="is-capitalized" value="70000">Rs 70000</option>
                                            <option class="is-capitalized" value="80000">Rs 80000</option>
                                            <option class="is-capitalized" value="90000">Rs 90000</option>
                                            <option class="is-capitalized" value="100000">Rs 100000</option>
                                            <option class="is-capitalized" value="125000">Rs 125000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-medium is-fullwidth">
                                        <select name="maxprice">
                                            <option class="is-capitalized" value="5000">Rs 5000</option>
                                            <option class="is-capitalized" value="10000">Rs 10000</option>
                                            <option class="is-capitalized" value="15000">Rs 15000</option>
                                            <option class="is-capitalized" value="20000">Rs 20000</option>
                                            <option class="is-capitalized" value="30000" selected>Rs 30000</option>
                                            <option class="is-capitalized" value="40000">Rs 40000</option>
                                            <option class="is-capitalized" value="50000">Rs 50000</option>
                                            <option class="is-capitalized" value="60000">Rs 60000</option>
                                            <option class="is-capitalized" value="70000">Rs 70000</option>
                                            <option class="is-capitalized" value="80000">Rs 80000</option>
                                            <option class="is-capitalized" value="90000">Rs 90000</option>
                                            <option class="is-capitalized" value="100000">Rs 100000</option>
                                            <option class="is-capitalized" value="125000">Rs 125000</option>
                                            <option class="is-capitalized" value="150000">Rs 150000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" class="button is-medium is-primary" value="Search">
                                </div>
                            </div>
                        </form> 
                        {% if message %}
                            <p class="heading is-size-6" style="margin: .5rem 0;" ><strong>{{ message }}</strong></p>
                            {% if not phones %}
                                <p class="has-text-danger heading is-marginless">There is nothing to match your search results.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% block 'sidebar' %}

                    {% endblock %}
                </aside>
            </div>     
        </div>
    </div>
    <a href="#" class="scrollToTop button is-medium is-primary is-rounded">TOP</a>
{% block 'below_content' %}{% endblock %}

<footer id="footer" class="footer has-background-black">
    <div class="container content has-text-centered">
        <p class="title is-3 has-text-grey"><a class="has-text-grey" href="{% url 'index' %}" style="text-transform: uppercase;">Get Mobile Price</a></p>
        <p class="subtitle is-6 heading has-text-grey">© 2018 Copyright</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7eae997ddf8392"></script>
<script type="text/javascript">
    $(document).ready(function(){

        //Ajax call to search phone models
        $('#phones').keyup(function(){       
            var term = $('#phones').val();
            $.get({
                url: '{% url 'get_phone' %}',
                data: {
                  'term': term
                },
                dataType: 'json',
                success: function (data) {
                    if (data != 'none') {
                        $('#search div').empty();
                        $('#search').removeClass('is-hidden');
                        $.each(data, function(i, v) {
                            var html = '<p class="is-uppercase"><a class="is-block" href="' + v.url + '">' + v.model + '</a></p>'
                            $('#search div').append(html);
                        });
                    } else {
                        $('#search').addClass('is-hidden');
                    }                    
                }
            });
        });

        //Check to see if the window is top if not then display button
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollToTop').fadeIn();
            } else {
                $('.scrollToTop').fadeOut();
            }
        });

        //Click event to scroll to top
        $('.scrollToTop').click(function(){
            $('html, body').animate({scrollTop : 0},800);
            return false;
        });

        $('.delete').click(function(){
            $('#search').addClass('is-hidden');
            $('#search p').empty();
            $('#phones').val('');
        });

    });
</script>

  {% block 'scripts' %}{% endblock %}
</body>
</html>