
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block 'canonical' %}{% endblock %}
    <title>{% block 'title' %}Mobile Phone Prices{% endblock %}</title>
    <meta name="news_keywords" content="{% block 'news' %}{% endblock %}">
    <meta name="description" content="{% block 'description' %}{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Anton:400" rel="stylesheet">
    <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"-->
    <link rel="icon" href="{% static 'images/smartphone.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="content has-background-white">


{% include 'navbar.html' %}

<header>{% block 'above_content' %}{% endblock %}</header>


<div id="content" class="container is-fluid" style="padding: 0;">
    <div class="columns is-desktop is-paddingless is-marginless">
        <div class="column is-9-desktop is-paddingless is-marginless">
            <main class="section">
                {% block 'content' %}{% endblock %}
            </main>
        </div>
        <div class="column is-3-desktop is-paddingless is-marginless">
            <aside class="section">
                {% block 'sidebar' %}
                    
                {% endblock %}
            </aside>
        </div>     
    </div>
</div>

{% block 'below_content' %}{% endblock %}

<footer class="footer has-background-black">
    <div class="container content has-text-centered">
        <p class="title is-3 has-text-grey"><a class="has-text-grey" href="{% url 'index' %}" style="text-transform: uppercase;">Get Mobile Price</a></p>
        <p class="subtitle is-6 heading has-text-grey">© 2018 Copyright</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7eae997ddf8392"></script>
{% block 'scripts' %}{% endblock %}
</body>
</html>