
{% load static %}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="j30z9l4lDSzZOD3l89GI6hw90R2jK2dP3GS9uD2Alc0" />
    <meta name="msvalidate.01" content="74C49CE35D80A7DFB35A0C1F342311BD" />
    <link rel="canonical" href="{{request.build_absolute_uri}}" />
    <title>{% block 'title' %}Mobile Phone Prices{% endblock %}</title>
    <meta name="news_keywords" content="{% block 'news' %}{% endblock %}">
    <meta name="description" content="{% block 'description' %}{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:700|Saira:400" rel="stylesheet">
    <link rel="icon" href="{% static 'images/frame.png' %}" type="image/png">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% if request.META.HTTP_HOST != 'localhost:8000' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47699964-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-47699964-5');
        </script>
    {% endif %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.getmobileprice.com",
            "logo": "http://www.getmobileprice.com/static/images/frame.png"
        }
    </script>
    
</head>

<body class="content has-background-white is-marginless" style="position: relative;">


    {% include 'navbar.html' %}

    <div id="search-by-phone" class="is-overlay has-background-white is-hidden" style="z-index: 99; position: fixed;">
        <div style="position: relative;">
            <div class="container" style="padding: 1.5rem;">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-large" id="search-by-phone-query" placeholder="Search For Mobile Model">
                    </div>
                    <div class="control">
                        <button id="search-by-phone-btn" class="button is-large is-primary">Close</button>
                    </div>
                </div>
                <div id="search-by-phone-result" class="is-hidden">
                    <div class="has-text-black"></div>
                </div>
            </div>
        </div>
    </div>
    

    <header>{% block 'above_content' %}{% endblock %}</header>

    <div id="content" class="container is-fluid" style="padding: 0;">
        <div class="columns is-desktop is-paddingless is-marginless">
            <div class="column is-9-desktop is-paddingless is-marginless" style="border-right: 1px solid #e6e6e6;">
                {% block 'pageheading' %}
                    <form id="countries" action="{% url 'index' %}" method="POST" style="position: absolute; right: 10px; top: 10px;">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <div id="country" class="select is-info">
                                    <select name="country">
                                        <option value="choose-location">CHOOSE YOUR LOCATION</option>
                                        <option value="global">GLOBAL</option>
                                        {% for c in countries %}
                                            <option class="is-uppercase" value="{{c.country_slug}}">{{c.country|upper}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endblock %}
                <main class="section">                    
                    {% block 'content' %}{% endblock %}
                </main>
            </div>
            <hr class="is-hidden-desktop is-marginless">
            <div class="column is-3-desktop is-paddingless is-marginless">                 
                <aside class="section">
                    {% block 'sidebar' %}

                    {% endblock %}
                </aside>
            </div>     
        </div>
    </div>
    <a href="#" class="scrollToTop button is-medium is-danger">TOP</a>

    {% block 'below_content' %}{% endblock %}

    <footer id="footer" class="footer has-background-black">
        <div class="container content has-text-centered">
            <div class="buttons" style="justify-content: center;">
                {%for b in all_brands%}
                      <a class="button is-grey is-small is-outlined" href="{% url 'brand' slug=b.brand_slug  %}">{{b.brand_name|title}} Mobile Prices</a>
                {%endfor%}
            </div>
            <hr class="has-background-grey">
            <p class="title is-3 has-text-grey"><a class="has-text-grey" href="{% url 'index' %}" style="text-transform: uppercase;">Get Mobile Price</a></p>
            <p class="subtitle is-6 heading has-text-grey">© 2018 Copyright</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7eae997ddf8392"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            //Ajax call to search phone models
            $('#search-by-phone-query').keyup(function(){       
                var term = $('#search-by-phone-query').val();
                $.get({
                    url: '{% url 'get_phone' %}',
                    data: {
                      'term': term
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data != 'none') {
                            $('#search-by-phone-result div').empty();
                            $('#search-by-phone-result').removeClass('is-hidden');
                            $.each(data, function(i, v) {
                                var html = '<p class="is-uppercase"><a class="is-block has-text-grey" href="' + v.url + '">' + v.model + '</a></p>'
                                $('#search-by-phone-result div').append(html);
                            });
                        } else {
                            $('#search-by-phone-result').addClass('is-hidden');
                        }                    
                    }
                });
            });

            $('#search-by-phone-btn').click(function(){
                $('#search-by-phone').addClass('is-hidden');
                $('#search-by-phone-result p').empty();
                $('#search-by-phone-result div').empty();
                $('#search-by-phone-query').val('');
            });

            $('.mobile-search').click(function(){
                $('#search-by-phone').removeClass('is-hidden');
                $("#search-by-phone-query").focus();
            })

            //Check to see if the window is top if not then display button
            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.scrollToTop').click(function(){
                $('html, body').animate({scrollTop : 0},800);
                return false;
            });


            $("#country").change(function(){
                var city = $("#country select").val();
                if (city != 'choose-location') {
                    $("#countries").submit();
                }
            });

        });
        
    </script>

    {% block 'scripts' %}{% endblock %}
    
</body>
</html>