{% load static %}

<nav class="navbar is-white is-spaced">
    
        <div class="navbar-brand">
            <a class="navbar-item has-background-primary" href="{% url 'index' %}">
                {% url 'index' as home_url %}
                {% if request.get_full_path == home_url %}
                    <h2 class="is-marginless is-size-4 is-size-6-mobile has-text-white" style="text-transform: uppercase;">Get Mobile Price</h2>
                {% else %}
                    <h3 class="is-marginless is-size-4 is-size-6-mobile has-text-white" style="text-transform: uppercase;">Get Mobile Price</h3>
                {% endif %}
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button has-text-weight-bold is-uppercase is-size-7-mobile select-location">{{request.session.country}}</a>
                    <a class="button has-text-weight-bold is-uppercase is-size-7-mobile mobile-search">Search</a>
                </div>
                
            </div>
            <div class="navbar-burger burger" data-target="navMain">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMain" class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item is-uppercase" href="{% url 'search' %}">Search By Price</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-uppercase">Mobile Brands</a>
                    <div class="navbar-dropdown is-hidden-touch">
                        {%for b in all_brands%}
                            <a class="navbar-item is-uppercase is-size-7" href="{% url 'brand' slug=b.brand_slug %}">{{b.brand_name|title}} Mobile Prices</a>
                        {%endfor%}
                    </div>
                </div>
            </div>

        </div>
    
</nav>