{% extends 'base.html' %}
{% load humanize %}
{% load multiply %}

{% block 'title' %}{{brand.brand_name|title}} Mobiles Prices{% if request.session.city %} in {{request.session.city|title}}{% endif %}, Specifactions and Features{% endblock %}
{% block 'description' %}Latest {{brand.brand_name|title}} Mobiles Prices{% if request.session.city %} in {{request.session.city|title}}{% endif %}. {{brand.brand_name|title}} mobiles, specification and features. Get the latest and updated mobile prices gathered from trusted online stores and local retailers.{% endblock %}

{% block 'pageheading' %}
	<div class="content">
		<h1>{{brand.brand_name|title}} Mobiles Prices</h1>
		<p class="heading is-size-6">Checkout the latest <strong>{{brand.brand_name|title}} Mobile Prices</strong>. Latest <strong>{{brand.brand_name|title}} mobiles, {{brand.brand_name|title}} mobiles specification and features.</strong> Updated on daily basis by taking information from online ecommerce stores and retailers.</p>
	</div>
	{{block.super}}
{% endblock %}

{%block 'content'%}
	
	{% for p in phones %}

		<div class="box is-marginless is-radiusless">
			<a class="has-text-black" href="{% url 'phone' slug=p.phone_model_slug %}">
				<div class="columns is-mobile">
					<div class="column is-narrow has-text-centered" style="border-radius: 10px;">
						<p class="is-marginless"><img class="p-img" itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="140"></p>
						<p>
					</div>
					<div class="column">
						<h2 itemprop="name" class="is-size-4 is-size-6-mobile is-size-5-mobile has-text-black">{{p.phone_model|title}} Price</h2>
						<div class="content is-size-7-mobile item-desc" itemprop="description">{{p.description|truncatewords_html:40|safe}}</div>
					</div>
				</div>
			</a>
			<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
				<p itemprop="name">{{p.brand_name|title}}</p>
			</div>
		</div>
		<div class="box is-radiusless" style="padding: .5rem 1rem;">
			<div class="tags">
				<p class="is-marginless"><span class="tag is-large is-uppercase is-dark is-size-7-mobile">{{p.release|date:'F Y'}}</span></p>
				<p class="is-marginless">
					<span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="tag is-large is-primary is-size-7-mobile has-text-weight-bold">USD {{p.price|intcomma}}</span>
					{% if request.session.country %}
						{% if request.session.country != 'global' and request.session.currency != 'USD' %}
							<span class="tag is-large is-primary is-size-7-mobile has-text-weight-bold">{{ request.session.currency }} {% multiply p.price request.session.exchange %}</span>	
						{% endif %}
					{% endif %}
				</p>
				<meta itemprop="price" content="{{p.price}}" />
				<meta itemprop="priceCurrency" content="USD" />
			</div>
		</div>
		
	{% endfor %}

	{% if phones.has_other_pages %}
		<nav class="pagination is-medium is-right">
			{% if phones.has_previous %}
				<a rel="prev" class="pagination-previous" href="?page={{ phones.previous_page_number }}">Previous</a>
			{% else %}
				<a class="pagination-previous" disabled>Previous</a>
			{% endif %}
			{% if phones.has_next %}
				<a rel="next" class="pagination-next" href="?page={{ phones.next_page_number }}">Next</a>
			{% else %}
				<a class="pagination-next" disabled>Next</a>
			{% endif %}

			<ul class="pagination-list" style="list-style: none; margin: 0;">
				{% for i in phones.paginator.page_range %}
					{% if phones.number == i %}
						<li><a class="pagination-link is-current">{{ i }}</a></li>
					{% else %}
						<li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
	
{%endblock%}

{% block 'sidebar' %}
	{{ block.super }}
{% endblock %}