{% extends 'base.html' %}
{% load humanize %}
{% load multiply %}

{% block 'title' %}Search for latest and Updated Mobile Phone Prices, Specifications and Features{% endblock %}
{% block 'description' %}Checkout the latest mobiles phones, specifications and features. We are a trusted source of mobile phones related information. We provide you prices for all the major mobile brands.{% endblock %}

{% block 'pageheading' %}
	{{block.super}}
	<div class="content">
		<h1>Search by price</h1>	
		<form class="field" action="{% url 'search' %}" method="GET">
			<div class="field columns">
				<div class="control column">
					<div id="minprice" class="select is-fullwidth is-large">
						<select name="minprice">
							<option class="is-capitalized" value="0">USD 0</option>
							<option class="is-capitalized" value="50">USD 50</option>
							<option class="is-capitalized" value="100" selected>USD 100</option>
							<option class="is-capitalized" value="150">USD 150</option>
							<option class="is-capitalized" value="200">USD 200</option>
							<option class="is-capitalized" value="250">USD 250</option>
							<option class="is-capitalized" value="300">USD 300</option>
							<option class="is-capitalized" value="350">USD 350</option>
							<option class="is-capitalized" value="400">USD 400</option>
							<option class="is-capitalized" value="450">USD 450</option>
							<option class="is-capitalized" value="500">USD 500</option>
							<option class="is-capitalized" value="600">USD 600</option>
							<option class="is-capitalized" value="700">USD 700</option>
							<option class="is-capitalized" value="800">USD 800</option>
							<option class="is-capitalized" value="900">USD 900</option>
							<option class="is-capitalized" value="1000">USD 1000</option>
							<option class="is-capitalized" value="1100">USD 1100</option>
							<option class="is-capitalized" value="1200">USD 1200</option>
							<option class="is-capitalized" value="1300">USD 1300</option>
							<option class="is-capitalized" value="1400">USD 1400</option>
							<option class="is-capitalized" value="1500">USD 1500</option>
						</select>
					</div>
				</div>
				<div class="control column">
					<div id="maxprice" class="select is-fullwidth is-large">
						<select name="maxprice">
							<option class="is-capitalized" value="0">USD 0</option>
							<option class="is-capitalized" value="50">USD 50</option>
							<option class="is-capitalized" value="100">USD 100</option>
							<option class="is-capitalized" value="150">USD 150</option>
							<option class="is-capitalized" value="200">USD 200</option>
							<option class="is-capitalized" value="250" selected>USD 250</option>
							<option class="is-capitalized" value="300">USD 300</option>
							<option class="is-capitalized" value="350">USD 350</option>
							<option class="is-capitalized" value="400">USD 400</option>
							<option class="is-capitalized" value="450">USD 450</option>
							<option class="is-capitalized" value="500">USD 500</option>
							<option class="is-capitalized" value="600">USD 600</option>
							<option class="is-capitalized" value="700">USD 700</option>
							<option class="is-capitalized" value="800">USD 800</option>
							<option class="is-capitalized" value="900">USD 900</option>
							<option class="is-capitalized" value="1000">USD 1000</option>
							<option class="is-capitalized" value="1100">USD 1100</option>
							<option class="is-capitalized" value="1200">USD 1200</option>
							<option class="is-capitalized" value="1300">USD 1300</option>
							<option class="is-capitalized" value="1400">USD 1400</option>
							<option class="is-capitalized" value="1500">USD 1500</option>
						</select>
					</div>
				</div>
				<div class="control column is-narrow">
					<input type="submit" class="button is-light is-large" value="Search">
				</div>
			</div>
		</form>	
		{% if request.GET %}
			<p class="heading is-size-6" style="margin: .5rem 0;" ><strong>{{ message }}</strong></p>
			{% if not phones %}
				<p class="has-text-danger heading is-marginless">There is nothing to match your search results.</p>
			{% endif %}
		{% endif %}	
	</div>
{% endblock %}

{% block 'content' %}

	{% for p in phones %}

		<div class="box is-marginless is-radiusless">
			<a class="has-text-black" href="{% url 'phone' slug=p.phone_model_slug %}">
				<div class="columns is-mobile">
					<div class="column is-narrow has-text-centered" style="border-radius: 10px;">
						<p class="is-marginless"><img class="p-img" itemprop="image" src="{{p.phone_image.url}}" alt="{{p.phone_model|title}}" height="140"></p>
						<p>
					</div>
					<div class="column">
						<h2 itemprop="name" class="is-size-4 is-size-6-mobile is-size-5-mobile has-text-black">{{p.phone_model|title}} Price {% if request.session.city %}in {{ request.session.city|title }}{% endif %}</h2>
						<div class="content is-size-7-mobile item-desc" itemprop="description">{{p.description|truncatewords_html:40|safe}}</div>
					</div>
				</div>
			</a>
			<div itemprop="brand" class="is-hidden" itemscope itemtype="http://schema.org/Thing">
				<p itemprop="name">{{p.brand_name|title}}</p>
			</div>
		</div>
		<div class="box is-radiusless" style="padding: .5rem 1rem;">
			<div class="tags">
				<p class="is-marginless"><span class="tag is-large is-uppercase is-dark is-size-7-mobile">{{p.release|date:'F Y'}}</span></p>
				<p class="is-marginless">
					<span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="tag is-large is-primary is-size-7-mobile has-text-weight-bold">USD {{p.price|intcomma}}</span>
					{% if request.session.country %}
						{% if request.session.country != 'global' and request.session.currency != 'USD' %}
							<span class="tag is-large is-primary is-size-7-mobile has-text-weight-bold">{{ request.session.currency }} {% multiply p.price request.session.exchange %}</span>	
						{% endif %}
					{% endif %}
				</p>
				<meta itemprop="price" content="{{p.price}}" />
				<meta itemprop="priceCurrency" content="USD" />
			</div>
		</div>
		
	{% endfor %}

	{% if phones.has_other_pages %}
		<nav class="pagination is-medium is-right">
			{% if phones.has_previous %}
				<a rel="prev" class="pagination-previous" href="?page={{ phones.previous_page_number }}">Previous</a>
			{% else %}
				<a class="pagination-previous" disabled>Previous</a>
			{% endif %}
			{% if phones.has_next %}
				<a rel="next" class="pagination-next" href="?page={{ phones.next_page_number }}">Next</a>
			{% else %}
				<a class="pagination-next" disabled>Next</a>
			{% endif %}

			<ul class="pagination-list" style="list-style: none; margin: 0;">
				{% for i in phones.paginator.page_range %}
					{% if phones.number == i %}
						<li><a class="pagination-link is-current">{{ i }}</a></li>
					{% else %}
						<li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}

{% endblock %}

{% block 'sidebar' %}
	{{ block.super }}
{% endblock %}

{% block 'scripts' %}
	{% if request.GET %}
		<script type="text/javascript">

			$(document).ready(function(){

				$("#minprice select").val("{{ request.GET.minprice }}");
				$("#maxprice select").val("{{ request.GET.maxprice }}");

			});

		</script>
	{% endif %}
{% endblock %}